<!DOCTYPE html>
<html>
<head>
<title>TO DO Page</title>
</head>
<body>

<h2>ADD todo iTEM</H2>

<form method="POST" action="/submittodoitem">

Item ID:<br>
<input type="text" name="itemID"><br><br>

Item UUID:<br>
<input type="text" name="itemUUID"><br><br>

Item HASH:<br>
<input type="text" name="itemHash"><br><br>

Item NAme :<br>
<input type="text" name="itemName"><br><br>

Item Description:<br>
<textarea name="itemDescription"></textarea><br><br>

<button type="submit">Submit</button>

</form>
</body>
</html>

